
.title {
	font-size: 3rem;
}
.ForgotPasswordForm {
	margin-top: 2rem;
	width: 100%;
	p {
		width: 100%;
		font-size: 2rem;
	}
	input {
		font-size: 2rem;
		width: 100%;
		margin-bottom: 2rem;
		margin-top: 0.5rem;
		padding: 1rem;
		border-radius: 6px;
		border: none;
		background-color: rgb(206, 206, 206);
	}
	button[type='submit'] {
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 4px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
	  
		&:hover {
		  background-color: #3e8e41; // Dark green
		}
	}
}
.Fp{
	border: none;
	font-size: 2rem;


}
.Fp:hover{
	color: red;
	text-shadow: red;
}